/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root{
    /*Colores Dark-Blue*/
    --dark-blue100: #609ed4;
    --dark-blue200: #356ea9;
    --dark-blue300: #0a3871;
    --dark-blue400: #072b61;
    --dark-blue500: #052051;

    /*Colores Light-Blue*/
    --light-blue100: #f3f5fc;
    --light-blue200: #eff1fa;
    --light-blue300: #e9ecf8;
    --light-blue400: #aab2d5;
    --light-blue500: #757fb2;

    /*Colores Gray*/
    --gray100: #ced4da;
    --gray200: #adb5bd;
    --gray300: #868e96;
    --gray400: #495057;
    --gray500: #343a40;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

body{
    background-color: var(--light-blue100);
}

.container .marcocentral{
    width: 1440px;
    height: 1024px;
    position: relative;
}

.container .panelderecho{
    position: absolute;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.container .jovenconlupa{
    position: absolute;
    width: 336px;
    height: 304px;
    top: 243px;
    left: 32px;
}

.container .marco{
    display: flex;
    flex-direction: column;
    width: 336px;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 579px;
    left: 32px;
}

.texto2 input::placeholder{
    color: var(--dark-blue400);
    font-family: Inter, Helvetica;
    font-size: 32px;
}

.cuadrotexto{
    height: 48px;
    width: 577px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 32px;
    font-family: Inter, Helvetica;
    color: var(--dark-blue400);
    line-height: 24px;
}

.container #texto{
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: Inter, Helvetica;
    font-weight: 700;
    color: var(--gray500);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28.8px;
}

.marco #texto1{
    
    align-self: stretch;
    font-family: Inter, Helvetica;
    font-weight: 400;
    color: var(--gray400);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    border: none;
    background-color: transparent;
    outline: none;
    
}

#texto1::placeholder{
    overflow-y: auto;
    white-space: normal;
}

#botoncopiar{
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 328px;
    align-items: flex-start;
    gap: 8px;
    padding: 24px;
    position: relative;
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid var(--dark-blue300);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#botoncopiar:hover{
    background-color: var(--gray100);
}

#botoncopiar:active{
    background-color: var(--gray300);
}

.container #botoncopiar{
    font-family: Inter, Helvetica;
    color: var(--dark-blue300);
    font-size: 16px;
    text-align: center;
    justify-content: center;
}

.marco4{
    display: flex;
    position: absolute;
    align-items: flex-start;
    top: 265px;
    left: 5px;
}

.container .texto2{
    position: absolute;
    width: 577px;
    top: 168px;
    left: 240px;
    font-family: Inter, Helvetica;
    font-weight: 400;
    color: var(--dark-blue400);
    font-size: 32px;
}
  
.container .marco2{
    display: flex;
    width: 680px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 885px;
    left: 240px;
}
  
.marco2 .botonencriptar{
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 328px;
    align-items: flex-start;
    gap: 8px;
    padding: 24px;
    position: relative;
    background-color: var(--dark-blue300);
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.botonencriptar:hover{
    background-color: var(--dark-blue500);
}

.botonencriptar:active{
    background-color: var(--dark-blue100);
}
  
.container .botonencriptar{
    font-family: Inter, Helvetica;
    color: white;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}
  
.container .botondesencriptar{
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 328px;
    align-items: flex-start;
    gap: 8px;
    padding: 24px;
    position: relative;
    background-color: #d8dfe8;
    border-radius: 24px;
    border: 1px solid var(--dark-blue300);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.botondesencriptar:hover{
    background-color: var(--light-blue400);
}

.botondesencriptar:active{
    background-color: var(--light-blue500);
}

.container .botondesencriptar{
    font-family: Inter, Helvetica;
    color: var(--dark-blue300);
    font-size: 16px;
    text-align: center;
    justify-content: center;
}
  
.container .boton3{
    all: unset;
    box-sizing: border-box;
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: white;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
  
.container .marco3{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 851px;
    left: 240px;
}
  
.marco3 .bi-exclamation-circle-fill{
    position: relative;
    width: 16px;
    height: 16px;
    color: var(--gray400);
}
  
.container .texto3{
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.8;
    font-family: Inter, Helvetica;
    font-weight: 400;
    color: var(--gray400);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
}
  
.container .logoalura{
    position: absolute;
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
}
  
  